<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("หน้าเเรก", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">โอกาสต่างๆ <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="ความยินดี1">โอกาสแสดงความยินดี</a></li>
                            <li><a href="ความเสียใจ1">โอกาสแสดงความเสียใจ</a></li>
                            <li><a href="มงคลสมรส1">โอกาสมงคลสมรส</a></li>
                            <li><a href="รับปริญา1">โอกาสรับปริญา</a></li>
                            <li><a href="วันเกิด1">โอกาสวันเกิด</a></li>
                            <li><a href="ครบรอบ1">โอกาสครบรอบ</a></li>
                        </ul>
                    </li>



                    <li>@Html.ActionLink("วิธีการสั่งซื้อ", "index", "วิธีการสั่งซื้อ1")</li>
                    <li>@Html.ActionLink("สถานะจัดส่ง", "index", "สถานะการจัดส่ง1")</li>
                    <li>@Html.ActionLink("เกี่ยวกับเรา", "index", "เกี่ยวกับเรา1")</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
